<div class="container container-narrow">
  <h1 class="mb-3 text-center">Booking form</h1>
  <h3 class="mb-5 text-center"><em><%= @offer.title %></em></h3>
    <div class="row">
    <div class="col border-right">
      <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.label :starting_time, 'When do you want to book ?' %>
        <%= f.input :starting_time, label: false %>
        <%= f.label :number_visitors, 'How many visitors?' %>
        <%= f.input :number_visitors, label: false %>
        <%= f.submit "Book your visit !", class: "font-weight-bold btn btn-success mt-5 btn-lg" %>
      <% end %>
      </div>
    <div class="col">
      <h4 class="text-center"></h4>
      <%= image_tag asset_path('payment.png') %>
    </div>
    </div>
</div>
