<%= render "shared/navbar" %>
<div class="container container-narrow">
  <h1 class="mb-3">Booking form</h1>
  <h3 class="mb-5"><em><%= @offer.title %></em></h3>
    <div class="row">
    <div class="col border-right">
      <p>When do you want to book ?</p>
      <%= simple_form_for [@offer, @booking] do |f| %>
        <%= f.input :starting_time, label: false%>
      <p>How many visitors?</p>
        <%= f.input :number_visitors, label: false%>
      <%= f.submit "Book your visit !", class: "font-weight-bold btn btn-success btn-block mt-5 btn-lg" %>
      <% end %>
    </div>
    <div class="col">
      <h4 class="text-center">Payment form (TODO)</h4>
    </div>
  </div>
</div>
