<div class="container">
  <h1 class="titleH1">My dashboard</h1>

  <div class="row">
  <div class="col offers-box">
    <h3 class='p-3 dashboard-titles'>My bookings</h3>
    <% current_user.bookings.reverse_each do |booking| %>
      <% if booking.status == "Confirm" %>
        <h6>Congratulations! We’re pleased to confirm your reservation for
        <strong><%= booking.offer.title%> !</strong> </h6>
        <p>Your visit will start on <strong>
        <%= booking.starting_time.strftime("%d/%m/%Y")%> at
        <%= booking.starting_time.strftime("%R")%></strong></p>
        <p>Your reservation is for <strong><%= booking.number_visitors %> persons</strong> </p>
        <% if booking.reviews.first.nil?%>
          <%= link_to "Review this visit", new_offer_booking_review_path(booking.offer, booking), class: "btn btn-warning mb-3 " %>
        <% else %>
          <h6 class="pt-3"> You already reviewed this visit, here is your review: </h6>
          <% booking.reviews.each do |review| %>
            <li class="list-group-item">
            <div>
              <% review.rating.to_i.times do  %>
                <i class="fas fa-star"></i>
              <% end %>
              <% (5-review.rating.to_i).times do  %>
                <i class="far fa-star"></i>
              <% end %>
               - <%= review.comment %>
             <%= link_to offer_booking_review_path(review.booking.offer, review.booking, review ), class: "text-right", method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fas fa-trash-alt"></i>
               <% end %>
             </div>
            </li>
          <% end %>
        <% end %>
      <% elsif booking.status == "Reject" %>
        <h6>We're sorry, your reservation for <strong><%= booking.offer.title%> !</strong> has been rejected by the host. Please try a new one !</h6>
      <% else %>
        <h6>Your reservation for <strong><%= booking.offer.title%> !</strong> is currently on hold. Please wait for the host <strong><%= booking.offer.user.first_name%> </strong> to validate your visit !</h6>
      <% end %>
      <p class="border-bottom pt-3 mb-5"></p>
    <% end %>
  </div>

    <div class="col">
      <div class="offers-box col">
        <h3 class='p-3 dashboard-titles'>My offers</h3>

        <% current_user.offers.each do |offer| %>
          <h6><%= offer.title %></h6>
          <% offer.bookings.each do |booking| %>
            <p class='pb-3'><strong><%= booking.user.first_name %></strong> reserved for <%= booking.number_visitors %> persons on the <%= booking.starting_time.strftime("%d/%m/%Y")%> at <%= booking.starting_time.strftime("%R")%></p>
            <p>Status: <strong> <%= booking.status %> </strong></p>
            <% if booking.status != 'Confirm' %>
              <%= simple_form_for ([booking.offer, booking]) do |f| %>
                <%= f.input :status, label: "Do you want to confirm this booking?",  as: :radio_buttons, collection: ["Confirm", "Reject"]%>
                <%= f.button :submit, 'Submit', class: 'btn btn-warning' %>
              <% end %>
            <% end %>
          <% end %>
          <p class="border-bottom pt-3 mb-5"></p>
        <% end %>
      </div>
  </div>
</div>

