<%= render "shared/navbar" %>
<div class="container">
  <h1 class="titleH1">My dashboard</h1>
<hr>
  <!-- <div class="containerdash">
    <div class="style-booking border-right"> -->
  <div class="row">
  <div class="col border-right">
    <h2 class='p-3'>My bookings</h2>
    <% current_user.bookings.each do |booking| %>
      <p>Congratulations! We’re pleased to confirm your reservation for
      <strong><%= booking.offer.title%> !</strong> </p>
      <p>Your visit will start on <strong>
      <%= booking.starting_time.strftime("%d/%m/%Y")%> at
      <%= booking.starting_time.strftime("%R")%></p></strong>
      <p>Your reservation is for <strong><%= booking.number_visitors %> persons</strong> </p>

      <%= link_to "Review this visit", new_offer_booking_review_path(booking.offer, booking), class: "btn btn-warning mb-3 " %>
      <p class="border-bottom mb-5"></p>
    <% end %>
  </div>

  <div class="col">
    <h2 class='p-3'>My offers</h2>
    <% current_user.offers.each do |offer| %>
      <%= offer.title %>
    <% end %>
  </div>
  </div>
</div>
<%= render "shared/footer" %>
