<div class="container">
  <h2><%= @offer.title %></h2>
  <p><%= @offer.description %></p>
  <ul class="list-group">
    <% @offer.reviews.each do |review| %>
      <li class="list-group-item"><%= review.rating %>â­ - <%= review.content %></li>
    <% end %>
  </ul>
  <div class="container">
  <h3>Create new review</h3>
  <%= simple_form_for [ @offer, @review ] do |f| %>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
