<div class="container">
  <h2><%= @offer.title %></h2>
  <p><%= @offer.description %></p>
  <ul class="list-group">
    <% @offer.reviews.each do |review| %>
      <li class="list-group-item"><%= review.rating %>⭐ - <%= review.content %></li>
    <% end %>
  </ul>
  <%= link_to "Book this visit", new_offer_booking_path(@offer)  %>
</div>
